@import "./lib/colors.css";

:root {
    --color-info: var(--color-blue);
    --color-success: var(--color-green);
    --color-warning: var(--color-yellow);
    --color-danger: var(--color-red);
}

/* 浅色模式 */
:root {
    --color-background-primary: #FFFFFF;
    --color-background-secondary: #f5f5f5;
    --color-border: #e3e3e3;
    --color-text-primary: #000000;
    --color-text-secondary: #676767;
}

/* 深色模式 */
@media (prefers-color-scheme: dark) {
    :root {
        --color-background-primary: #212121;
        --color-background-secondary: #323232d9;
        --color-border: #424242;
        --color-text-primary: #FFFFFF;
        --color-text-secondary: #9b9b9b;
    }
}

/* 可访问模式（浅色） */
@media (prefers-contrast: more) and (prefers-color-scheme: light) {
    :root {
        --color-background-primary: #FFFFFF;
        --color-background-secondary: #f5f5f5;
        --color-border: #e3e3e3;
        --color-text-primary: #000000;
        --color-text-secondary: #676767;
    }
}

/* 可访问模式（深色） */
@media (prefers-contrast: more) and (prefers-color-scheme: dark) {
    :root {
        --color-background-primary: #000000;
        --color-background-secondary: #1a1a1ad9;
        --color-border: #424242;
        --color-text-primary: #FFFFFF;
        --color-text-secondary: #9b9b9b;
    }
}
