.button {
    cursor: pointer;
    border: 1px solid var(--color-border);
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 36px;
    border-radius: 999999999px;
    padding: 8px;
    transition: all 0.2s ease;
    outline: none;
}

.icon {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 15px;
    height: 15px;
    color: var(--color-text-primary);
}

.text {
    padding-inline: 4px;
    white-space: nowrap;
    font-size: 12px;
    color: var(--color-text-primary);
}
