.heroTitle {
    font-family: "HarmonyOS Sans", sans-serif;
    font-size: 36px;
    font-weight: bold;
    color: var(--color-text-primary);
    text-align: center;
    padding: 8px;
    margin: 16px;
}
